/* Tab switching */
main > section:not(.active) {
    display: none;
}

/** STICKY FOOTER - START */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    padding-top: 65px;
    padding-bottom: 65px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}
/** STICKY FOOTER - END */


dl {
    font-size: 90%;
}

dt {
    float: left;
    padding: 0 0.2em 0 0;
}


/* tv program bars */
/* width of one bar is 200px */
table#bigContainer {
    clear: both;
    display: none;
    width: 100%;
    overflow-x: scroll;
}

div#bigControls {
    display: none;
}

table#bigContainer .item {
    width: 305px;
    vertical-align: top;
}

div#smallControls {
    display: none;
}
div#smallContainer {
    display: none;
}

div.statistics {
    display: flex;
    justify-content: space-around;
}

div.statsItem {
    width: 250px;
}

div#bigChannelControls {
    line-height: 1.5em;
    width: 100%;
}

div#bigChannelControls label {
    border: 1px solid #000;
    margin: 2px 2px 2px 2px;
    padding: 1px 1px 1px 1px;
    float: left;
}

div#bigChannelControls input {

}

span.startTime {
    padding: 0 0.5em 0 0;
}

/* one schedule entry */
td.item > div {
    margin: 0.5em 0 0 0;
}

.item > div {
    cursor: pointer;
}

.item > div.scheduled {
    background: #4682b4;
}


@media (max-width: 600px) {
    nav ul li {
        font-size: 0.8em;
    }

    div#smallContainer {
        display: block;
    }

    div#smallControls {
        display: block;
    }
}

@media (min-width: 600px) {
    table#bigContainer {
        display: block;
    }

    div#bigControls {
        display: block;
    }
}

h1 {
    text-align: center;
}

div.additionalInformation, .item .description {
    display: none;
}

.alert-fixed {
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index:9999;
}