/*
div#notificationBar {
    width: 100%;
    position: fixed;
    top: -5px;
    border-radius: 10px;
    border-top: 1px solid #000;
    padding: 5px 2em 0 2em;
    font-size: 1.5em;
    text-align: center;
    visibility: visible;
    opacity: 1;
    color: #fff;
    transition: visibility 0.5s linear, opacity 0.5s linear;
    height: auto;
    z-index: 20;
}

div#notificationBar:not(.active) {
    opacity: 0;
    visibility: hidden;
}

div#notificationBar.info {
    background: steelblue;
    color: #fff;
}

div#notificationBar.success {
    background: green;
    color: #fff;
}

div#notificationBar.error{
    background: red;
    color: #fff;
}*/